<%- include('partials/header') %>

<h1>This is going to be our movie site home page</h1>

<a href="/movies">To see movies list</a>

<%- include('partials/footer') %>
<!-- name
runtime
genre
released date 
rating imdb
star imdb
imdbRating
imdbVotes
Plot
Director
writer 
actor
download link of different resolution
-->