<h1>Cinema</h1>
<form action="/movies/<%= id %>/link?_method=PUT" method="POST">
    <input type="text" name="link[url]" placeholder="url">
    <input type="text" name="link[resolution]" placeholder="resolution">
    <input type="text" name="link[size]" placeholder="size">
    <input type="Submit">
</form>